html {
    position: relative;
    min-height: 100%;

 }
/*navbar 투명 적용*/
.navbar-brand {
	background-color: transparent;
	border-color: transparent;
	font-size: 25px;
	font-weight: 700;
}

.navbar-inverse .navbar-brand {
	background-color: transparent;
	border-color: transparent;
	color: #FFFFFF;
}

.navbar-inverse {
	background-color: transparent;
border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #FFFFFF;
	background-color: rgba(149%,165%,166%,0.2);
	border-color: rgba(149%,165%,166%,0.2);
}

.navbar-inverse .navbar-nav > li > a {
	background-color: transparent;
	border-color: transparent;
	color: #FFFFFF;
}

.navbar{
	background-color: rgba(0%,0%,0%,0);
	border-color: transparent;
}

/*배경색*/
body{
	background-color: #ABB7B7;
	background-size: cover;
	margin-bottom: 60px;

}

/*로고 크기*/
.logo{
	width: 50%;
	height: 30%;
}

/*메인화면 효과*/
.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin-top: 12%;
	margin-left:28%;
	height: 520px;
	text-align: center;
	cursor: pointer;
}

figure div{
	font-family: Verdana;
	font-size: 50px;
	color: #ffffff;
	margin-bottom: 10px;
	text-decoration: none;
}

figure a:hover, a:focus {
 text-decoration: none;
}

figure.effect-4 img {
	opacity: 0.8;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-4:hover img {
	opacity: 0.6;
}

figure.effect-4 figcaption::before,
figure.effect-4 figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-4 figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-4 figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-4 h2 {
	padding-top: 15%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}
figure.effect-4 p {
	font-family: Verdana;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-4:hover figcaption::before,
figure.effect-4:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	text-decoration: none;
}

figure.effect-4:hover h2,
figure.effect-4:hover p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	text-decoration: none;
}

