{% extends "layout.html" %}

{% block contents %}
	<div id="map_total">
		<div id="map_left">
			<div id="map_small">
				<p>작은 지도 브랜치 나도 한 번 해보자?</p>
				<p>지현이꺼로 브랜치 2번째 시도중</p>
			</div>
			<div id="map_information">
				<h3>해당 지역 정보</h3>
				<p>가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나l,l,l,l다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하</p>	
			</div>
		</div>

		<div id="map_canvas"></div>
	</div>
{% endblock %}