{% extends "layout.html" %}

{% block contents %}
<ul id="menu">
	<li data-menuanchor="firstPage" class="active"><a href="#firstPage">First slide</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
	<li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
</ul>

<div id="fullpage">
  <div class="section " id="section0">
    <h1>싱크홀이란?</h1>
    <p>싱크홀이란 어쩌구저쩌구한 것 입니다.</p>
<!--     <img src="imgs/fullPage.png" alt="fullPage" /> -->
  </div>
  <div class="section" id="section1">
    <div class="intro">
      <h1>싱크홀은 왜 생기나요?</h1>
      <p>ㅇ뢰뉘다ㅜ라ㅣ주디가ㅟ다리항ㄹ하ㅓ라ㅣ라라라라라라햐얄야냗거젇겁작ㄷ지다거잗</p>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="intro">
      <h1>싱크홀 사이트를 만든 목적</h1>
      <p>라라라라라라랄라랄라라라라라라ㅅ싱크홀싱킇러ㅗ히넝러ㅔㅈ대ㅓ게더ㅔ거</p>
    </div>
  </div>

{% endblock %}